<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./CSS/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" id="app">
      <div class="home-header">
        <img src="./images/home-search-text.png" alt="" />
        <form action="">
          <input type="text" placeholder="搜素职位、公司" />
          <button>搜索</button>
        </form>
      </div>
      <div class="home-categorys">
        <dl v-for="item in categories">
          <dt>
            <img :src="item.icon" alt="" />
            <div>{{item.name}}</div>
          </dt>
          <dd> 
            <a href="" class="tag" v-for="tag in item.tags">{{tag}}</a>
          </dd>
        </dl>
      </div>
      <div class="home-footer">
        <p>违法和不良信息举报邮箱：jubao@kanzhun.com</p>
        <p>企业服务热线和举报投诉：400 065 5799</p>
        <p>人力资源服务许可证</p>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          categories: [
              {
                  icon:'./images/technology.png',
                  name:'技术',
                  tags:['Java','PHP','NodeJS']
              },
              {
                  icon:'./images/technology.png',
                  name:'技术',
                  tags:['Java','PHP','NodeJS']
              },
              {
                  icon:'./images/technology.png',
                  name:'技术',
                  tags:['Java','PHP','NodeJS']
              }
          ]

        }
      });
    </script>
  </body>
</html>
